{% extends "BackendBundle:Layouts:2columns.html.twig" %}
{%  set edit = "Edición de la opción de envío"|trans %}
{%  set create = "Creación de una opción de envío"|trans %}
{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block buttons_section %}
    <div class="btn-group">
        <a href="{{ path('admin_delivery_index') }}" title="{{"Listar opciones de envío" | trans}}" class="btn"><i class="fa fa-align-justify"></i></a>
        <a href="{{ path('admin_delivery_create') }}" title="{{"Añadir opción de envío" | trans}}" class="btn"><i class="fa fa-plus"></i></a>
    </div>
{% endblock %}

{% block content %}

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" role="form"
                  action="{% if edition is defined %}{{ path('admin_delivery_edit',{'id':deliveryOption.id}) }} {% else %} {{ path('admin_delivery_create') }} {% endif %}"
                  method="post" xmlns="http://www.w3.org/1999/html">

                <div class="form-group">
                    <label for="delivery_type" class="col-sm-2 control-label">
                        <span class="red">*</span>
                        {{ 'Tipo de envío'|trans }}
                        <a href="#" data-placement="right" class="bo-tooltip" data-toggle="tooltip" title="{{ "Express, estándar, 48 horas..."|trans }}"><span class="fa fa-question"></span></a></label>
                    </label>
                    <div class="col-sm-3">
                        {{ form_widget(form.type, { 'attr': { 'class': 'form-control required'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="delivery_type" class="col-sm-2 control-label">
                        <span class="red">*</span>
                        {{ 'Coste'|trans }}
                        <a href="#" data-placement="right" class="bo-tooltip" data-toggle="tooltip" title="{{ "En euros"|trans }}"><span class="fa fa-question"></span></a></label>
                    </label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            {{ form_widget(form.cost, { 'attr': { 'class': 'form-control required'} }) }}
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-10">
                        <button id="register" type="submit" class="btn btn-primary">
                            {{ "Guardar cambios"|trans }}
                        </button>
                        <img style="display:none;" class="ml15 loader pull-lef" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
                    </div>
                    <p class="col-md-offset-2 col-sm-10 help-block">
                        <span class="red">*</span> {{"Campos obligatorios" | trans }}
                    </p>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}