{% if addresses | length > 0 %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Nombre' | trans }}</th>
                    <th>{{ 'Direcci贸n' | trans }}</th>
                    <th>{{ 'C贸digo postal' | trans}} </th>
                    <th>{{ 'Ciudad' | trans }}</th>
                    <th>{{ 'Opciones' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr{% if address.main %} class="main"{% endif %}>
                    <td>{{ address.name }}</td>
                    <td>{{ address }}</td>
                    <td>{{ address.postalCode }}</td>
                    <td>{{ address.city }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm main-address" href="{{ path('change_main_address', {'slug' : address.slug}) }}" title="{{ 'Establecer como direcci贸n principal' | trans }}"><i class="fa fa-star"></i></a>
                        <a class="btn btn-danger btn-sm delete-address" href="{{ path('delete_address', {'slug': address.slug}) }}" title="{{ 'Eliminar direcci贸n' | trans }}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}