{% set action = app.request.attributes.get('_route') %}
<div class="user-nav">
    <a title="{{ 'Mi cuenta' | trans }}" href="{{ path('user_profile') }}" {% if action == 'user_profile' %}class="active"{% endif %}>{{ 'Mi cuenta' | trans }}</a>
    <a title="{{ 'Gestiona tus pedidos' | trans }}" href="{{ path('user_orders') }}" {% if action == 'user_orders' %}class="active"{% endif %}>{{ 'Mis pedidos' | trans }}</a>
</div>