{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ "Clop Sevilla"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ render(controller("FrontendBundle:Frontend:categoryNav")) }}
    {% include 'FrontendBundle:Commons:banner-top.html.twig' %}
    {# include 'FrontendBundle:Commons:search.html.twig' #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="line-block mb10">
                <h2 class="line-title">{{ 'Productos recientes' | trans }}</h2>
            </div>
        </div><!-- .col-md-12 -->
        {% for item in recentItems %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': item})) }}
        {% endfor %}
    </div>

    {% for key, items in seoCategories %}
        {% if items | length > 0 %}
        <div class="row mt50">
            <div class="col-md-12">
                <div class="line-block mb10">
                    <h2 class="line-title">{{ key }}</h2>
                </div>
            </div><!-- .col-md-12 -->
            {% for item in items %}
                {{ render(controller("ItemBundle:Item:itemBox", {'item': item})) }}
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}