{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ "Ecommerce General"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'FrontendBundle:Commons:banner-top.html.twig' %}
    {# include 'FrontendBundle:Commons:search.html.twig' #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="line-block">
                <h2 class="line-title">{{ 'Productos recientes' | trans }}</h2>
            </div>
        </div><!-- .col-md-12 -->
        {% for item in recentItems %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': item})) }}
        {% endfor %}
    </div>

    {% for key, items in seoCategories %}
        <div class="row mt50">
            <div class="col-md-12">
                <div class="line-block">
                    <h2 class="line-title">{{ key }}</h2>
                </div>
            </div><!-- .col-md-12 -->
            {% for item in items %}
                {{ render(controller("ItemBundle:Item:itemBox", {'item': item})) }}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.dropdown-toggle, .dropdown-menu').hover(function (e) {
                        $(this).parent().addClass('open');
                    },
                    function (e) {
                        $(this).parent().removeClass('open');
                    });
        });
    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}