{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ 'Productos en oferta | Clop Sevilla' | trans }}{% endblock %}
{% block description %}{{"Tus productos favoritos ahora de oferta. No dejes escapar esta oportunidad"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ render(controller("FrontendBundle:Frontend:categoryNav")) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="line-block mb10">
                <h2 class="line-title">{{ 'Ofertas' | trans }}</h2>
            </div>
        </div><!-- .col-md-12 -->
        {% if offers | length > 0 %}
        {% for item in offers %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': item})) }}
        {% endfor %}
        {% else %}
            <div class="col-md-12">
             <p>{{ 'Ahora mismo no hay ofertas pero nuestros precios son inmejorables' | trans }}</p>
            </div>
        {% endif %}
    </div>

    {{ simple_paginator_render('view_offers', 'offers', {'container_class' : 'pagination', 'currentClass' : 'active' }, 'ItemBundle:Commons:paginator.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}