{% extends "BackendBundle:Layouts:2columns.html.twig" %}

{% block title_section %}
    {{ "Resumen" | trans }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-bar-chart-o"></i>
            </span>
            <h5>{{ 'Resumen del sitio' }}</h5>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-md-4">
                    <ul class="site-stats">
                        <li>
                            <div class="cc">
                                <i class="fa fa-user"></i>
                                <strong>{{ users }}</strong>
                                <small>{% if users == 1 %}{{ 'usuario' | trans }}{% else %}{{ 'usuarios' | trans }}{% endif %}</small>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <div class="cc">
                                <i class="fa fa-tag"></i>
                                <strong>{{ orders }}</strong>
                                <small>{% if orders == 1 %}{{ 'pedido' | trans }}{% else %}{{ 'pedidos' | trans }}{% endif %}</small>
                            </div>
                        </li>
                        <li>
                            <div class="cc">
                                <i class="fa fa-truck"></i>
                                <strong>{{ ordersReadyToSend }}</strong>
                                <small>{% if ordersReadyToSend == 1 %}{{ 'pedido pendiente de envío' | trans }}{% else %}{{ 'pedidos pendientes de envío' | trans }}{% endif %}</small>
                            </div>
                        </li>
                        <li>
                            <div class="cc">
                                <i class="fa fa-home"></i>
                                <strong>{{ ordersReadyToTake }}</strong>
                                <small>{% if ordersReadyToTake == 1 %}{{ 'pedido pendiente de recoger' | trans }}{% else %}{{ 'pedidos pendientes de recoger' | trans }}{% endif %}</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="orders-resume chart"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/excanvas.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/jquery.flot.canvas.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/jquery.flot.time.min.js') }}"></script>
    <script>
        $('document').ready(function() {
            $.get('{{ path('admin_recent_orders') }}', function (response) {
                var data = [];
                var columns = new Array(),
                    ticks = new Array();

                var i = 0;

                for (key in response) {
                    ticks.push([i, key]);
                    data.push([i, parseInt(response[key])]);
                    i++;
                }

                columns.push({
                    data: data,
                    bars: {
                        show: true,
                        barWidth: 0.4,
                        align: "center"
                    }
                })

                var bar = $.plot($(".orders-resume"), [{label: '{{ 'Pedidos en los últimos 7 días' | trans }}' , data: data}], {
                    series: {
                        bars :{
                            show : true,
                            barWidth: 0.4,
                            align: "center"
                        }
                    },
                    grid: { borderColor: "#eeeeee", borderWidth: 1, color: "#AAAAAA" },
                    xaxis: {
                        ticks: ticks
                    },
                    yaxis: {
                        tickDecimals: 0,
                        minTickSize: 1
                    }
                });
            });
        });

        function getDate(date)
        {
            split = date.split("-");
            return new Date(split[2], split[1] - 1, split[0]).getTime();
        }
    </script>
{% endblock %}