{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Tu pedido | Clop"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}user page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="intro">
        <div class="intro-wrap">
            <h2>{{ 'Tu pedido' | trans }}</h2>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                {% include 'FrontendBundle:Commons:flashes.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered cart-table">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'Descripción' | trans }}</th>
                            <th>{{ 'Cantidad' | trans }}</th>
                            <th>{{ 'Precio' | trans }}</th>
                            <th>{{ 'Subtotal' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if cart and cart.cartItems | length > 0 %}
                            {% for item in cart.cartItems %}
                                <tr>
                                    <td class="text-left">
                                        {{ render(controller("FrontendBundle:Cart:cartItemDetails", {'id':item.id})) }}
                                    </td>
                                    <td>
                                        {{ item.quantity }}
                                    </td>
                                    <td>{{ item.price / item.quantity }} <i class="fa fa-euro"></i></td>
                                    <td>{{ item.price }} <i class="fa fa-euro"></i></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">{{ 'Tu carrito está vacio' | trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form action="{{ path('new_order') }}" class="form-inline" novalidate="novalidate" method="POST">
            <div class="row mb20">
                <div class="col-md-12">
                    <div class="line-block">
                        <h2 class="line-title">{{ 'Opciones de envío' | trans }}</h2>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input id="delivery_options_take_in_place" type="radio" name="delivery_options" value="{{ take_in_place }}">
                    <label for="delivery_options_take_in_place">{{ 'Recoger en tienda' | trans }}</label>
                </div>
                <div class="form-group col-md-3">
                    <input id="delivery_options_to_home" type="radio" name="delivery_options" value="{{ delivery_home }}">
                    <label for="delivery_options_to_home">
                        {{ 'Envio a domicilio' | trans }}
                    </label>
                    <a href="#" class="clop-tooltip" data-container="body" data-placement="right" data-toggle="tooltip" title="{{ 'Gastos de envío: ' | trans }} {{ delivery_cost }} €"><i class="fa fa-question"></i></a>
                </div>
            </div>

            <div id="address_delivery_block" data-toggle="false" class="row collapse">
                <div class="col-md-12">
                    <div class="line-block">
                        <h2 class="line-title">{{ 'Dirección de envío' | trans }}</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered cart-table">
                            <thead>
                            <tr>
                                <th style="width: 10%;">{{ 'Enviar a' }}</th>
                                <th style="width: 30%">{{ 'Nombre' | trans }}</th>
                                <th>{{ 'Dirección' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user.addresses | length > 0 %}
                                {% for address in user.addresses %}
                                    <tr>
                                        <td><input {% if address.main %}checked="checked"{% endif %} type="radio" name="delivery_address" value="{{ address.id }}"></td>
                                        <td>{{ address.name }}</td>
                                        <td>{{ address.address }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">{{ 'No tienes ninguna dirección' | trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- .table-responsive -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="line-block">
                        <h2 class="line-title">{{ 'Otras opciones' | trans }}</h2>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input id="present" type="checkbox" name="present" value="is_present">
                    <label for="present">{{ '¿Es un regalo?' | trans }}</label>
                </div>
                <div class="col-md-7">
                    <p>
                        {{ '¿Quieres sorprender a alguien especial? Nosotros te envolvemos el regalo' | trans }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">{{ 'Pagar ahora' }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.clop-tooltip').tooltip();

            $('body').on('change', 'input[name="delivery_options"]', function() {
                var value = $(this).val();

                if (value == '{{ delivery_home }}') {
                    $('#address_delivery_block').collapse('show');
                } else {
                    $('#address_delivery_block').collapse('hide');
                }
            });
        });
    </script>
{% endblock %}