{% extends "BackendBundle:Layouts:2columns.html.twig" %}
{%  set edit = "Edición de Producto"|trans %}
{%  set create = "Creación de Producto"|trans %}
{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block buttons_section %}
    <div class="btn-group">
        <a href="{{ path('admin_item_index') }}" title="{{"Listar productos" | trans}}" class="btn"><i class="fa fa-align-justify"></i></a>
        <a href="{{ path('admin_item_create') }}" title="{{"Añadir producto" | trans}}" class="btn"><i class="fa fa-plus"></i></a>
    </div>
{% endblock %}

{% block content %}

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}

            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#product" data-toggle="tab"><i class="fa fa-puzzle-piece"></i>{{ 'Producto' | trans }}</a></li>
                {% if item is defined %}
                <li><a href="#images" data-toggle="tab"><i class="fa fa-picture-o"></i>{{ 'Imágenes' | trans }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" role="form"
                  action="{% if edition is defined %}{{ path('admin_item_edit',{'slug':item.slug}) }} {% else %} {{ path('admin_item_create') }} {% endif %}"
                  method="post" {{ form_enctype(formImage) }} xmlns="http://www.w3.org/1999/html">

                <div class="tab-content">
                    <div id="product" class="tab-pane active">
                        {% include 'BackendBundle:Item:form-item.html.twig' %}
                    </div>
                    {% if item is defined %}
                    <div id="images" class="tab-pane">
                        <div class="row mt">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    <span><strong>{{ 'Consejo' | trans }}:</strong> {{ 'Puedes seleccionar varias imágenes a la vez, manteniendo pulsada la tecla CTRL' | trans }}</span>
                                </div>
                            </div>
                        </div>
                        {% if edition is defined %}
                            <div class="col-sm-12 mt20" id="images_item">
                                {% if item.images is defined and item.images | length > 0%}
                                    {% for image in item.images %}
                                        {% set imagePath= image.ImageThumbnail.getWebFilePath ~ '?' ~ random() %}
                                        <div class="image-box-item">
                                            <div class="image-item" style="background-image:url('{{ asset(imagePath) }}');">
                                            </div>
                                            <div class="options">
                                                <div class="{% if image.main %}image-item-main{% else %}image-item-no-main{% endif %}">
                                                    <a title="{% if image.main %}{{ 'Principal'|trans }}{% else %}{{ 'No principal'|trans }}{% endif %}" class="main" href="{{ path('change_image_main', {'id' : image.id}) }}">
                                                        <i class="fa {% if image.main %}fa-star{% else %}fa-star-o{% endif %}"></i>
                                                    </a>
                                                    <a title="{{ 'Eliminar'|trans }}" class="delete-image" href="{{ path('delete_image', {'id' : image.id}) }}">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="wrap-upload image-box-item">
                                    <div class="image-item upload-image">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <span class="msg-upload hidden"></span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input type="file" multiple="multiple" class="hide" data-url="{{ path('admin_item_upload_images', {'id' : item.id}) }}" name="multiple_images[images][]" id="multiple_images_images">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('body').delegate('.upload-image', 'click', function (event) {
                event.preventDefault();
                $('input[type=file]').click();
            });

            $('body').delegate('a.delete-image', 'click', function (event) {
                event.preventDefault();
                if (confirm('{{ "¿Estas seguro que quieres borrarlo?" | trans() }}')) {
                    var path =  $(this).attr('href'),
                        wrap = $(this).closest('.image-box-item');
                    $.post(path, function(response) {
                        if (response.ok) {
                            wrap.remove();
                        }
                    });
                }
            });

            $('body').delegate('a.main', 'click', function (event) {
                event.preventDefault();

                var path =  $(this).attr('href');
                var newMain = $(this);
                $.post(path, function(response) {
                    if (response.ok) {
                        var oldMain = $('i.fa-star');
                        oldMain.removeClass('fa-star');
                        oldMain.addClass('fa-star-o');
                        newMain.children('i').removeClass('fa-star-o');
                        newMain.children('i').addClass('fa-star');
                    }
                });
            });

            $('.select2').select2();
        });
    </script>
{% endblock %}