<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul id="categories" class="nav nav-tabs clearfix">
                <li class="home">
                    <a title="{{ 'Inicio' | trans }}" href="{{ path('frontend_homepage') }}"><i class="fa fa-home"></i></a>
                </li>
                {% for category in categories %}
                    <li>
                        <a class="dropdown-toggle" title="{{ 'Ver categoría' | trans }} {{ category }}" href="">{{ category }}</a>
                        <div class="sub-menu dropdown-menu">
                            <div class="sub-menu-items">
                                <ul class="list-unstyled subcategories-list">
                                    {% for subcategory in category.subcategories %}
                                        <li><i class="fa fa-angle-right"></i>{{ subcategory }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- .col-md-12 -->
    </div>
</div>