<div class="container footer">
    <div class="row">
        <!-- Information -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Información' | trans }}
            </h3>
            <ul class="list-unstyled information">
                <li>
                    <a href="" title="">{{ 'Aviso legal' | trans }}</a>
                </li>
                <li>
                    <a href="" title="">{{ 'Información de entrega' | trans }}</a>
                </li>
                <li>
                    <a href="" title="">{{ 'Política de privacidad' | trans }}</a>
                </li>
            </ul>
        </div><!-- .col-md-3 -->

        <!-- Contact -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Contacta con nosotros' | trans }}
            </h3>
            <ul class="list-unstyled contact-us">
                <li>
                    <div class="footer-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="footer-info">
                        <a href="mailto:info@ecommerce.com" title="{{ 'Envíanos un email' | trans }}">info@ecommerce.com</a>
                    </div>
                </li>

                <li>
                    <div class="footer-icon">
                        <i class="fa fa-phone xl"></i>
                    </div>
                    <div class="footer-info">
                        <span>654 54 32 32</span>
                    </div>
                </li>
            </ul>
        </div><!-- .col-md-3 -->

        <!-- Social Networks -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Síguenos en' | trans }}
            </h3>
            <ul class="list-unstyled contact-us">
                <li>
                    <div class="footer-icon">
                        <i class="fa fa-facebook xl"></i>
                    </div>
                    <div class="footer-info">
                        <a href="" title="{{ 'Síguenos en Facebook' | trans }}">Facebook</a>
                    </div>
                </li>

                <li>
                    <div class="footer-icon">
                        <i class="fa fa-twitter xl"></i>
                    </div>
                    <div class="footer-info">
                        <a href="" title="{{ 'Síguenos en Twitter' | trans }}">Twitter</a>
                    </div>
                </li>
            </ul>
        </div><!-- .col-md-3 -->
    </div>
</div>