<div class="container footer">
    <div class="row">
        <!-- Information -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Información' | trans }}
            </h3>
            <ul class="list-unstyled information">
                <li>
                    <a href="{{ path('use_terms_page') }}" title="{{ 'Condiciones de uso' | trans }}">{{ 'Condiciones de uso' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('policy_page') }}" title="{{ 'Política de privacidad' | trans }}">{{ 'Política de privacidad' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('who_we_are_page') }}" title="{{ 'Conócenos' | trans }}">{{ 'Quiénes somos' | trans }}</a>
                </li>
                <li>
                    <a href="http://tecnicocertificadorenergetico.co/" title="{{ 'Técnico certificador energético' | trans }}">{{ 'Técnico certificador energético' | trans }}</a>
                </li>
            </ul>
        </div><!-- .col-md-3 -->

        <!-- Contact -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Contacta con nosotros' | trans }}
            </h3>
            <ul class="list-unstyled contact-us">
                <li>
                    <div class="footer-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="footer-info">
                        <a href="mailto:info@clopsevilla.com" title="{{ 'Envíanos un email' | trans }}">info@clopsevilla.com</a>
                    </div>
                </li>

                <li>
                    <div class="footer-icon">
                        <i class="fa fa-phone xl"></i>
                    </div>
                    <div class="footer-info">
                        <span>629 42 76 64</span>
                    </div>
                </li>
            </ul>
        </div><!-- .col-md-3 -->

        <!-- Social Networks -->
        <div class="col-md-3">
            <h3 class="footer-title">
                {{ 'Síguenos en' | trans }}
            </h3>
            <ul class="list-unstyled contact-us">
                <li>
                    <div class="footer-icon">
                        <i class="fa fa-facebook xl"></i>
                    </div>
                    <div class="footer-info">
                        <a href="" target="_blank"0 title="{{ 'Síguenos en Facebook' | trans }}">Facebook</a>
                    </div>
                </li>

                <li>
                    <div class="footer-icon">
                        <i class="fa fa-twitter xl"></i>
                    </div>
                    <div class="footer-info">
                        <a href="" target="_blank" title="{{ 'Síguenos en Twitter' | trans }}">Twitter</a>
                    </div>
                </li>
            </ul>
        </div><!-- .col-md-3 -->
    </div>
</div>