{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Bienvenido a Ecommerce"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h2 class="line-title">{{ 'Bienvenido a Ecommerce' | trans }}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="small-box">
                    <div class="row">
                        <div class="col-md-6 login-form">
                            <form name="login" method="post" action="{{ path('login_check') }}">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" placeholder="Email" class="form-control" id="USERNAME" name="_username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Contraseña" class="form-control" id="PASSWORD" name="_password">
                                    </div>
                                    <div class="form-group">
                                        <label style="text-align: left;" class="checkbox">
                                            <input type="checkbox" checked="checked" name="_remember_me" id="remember_me">
                                            {{ 'Recuérdame' | trans }}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-large btn-blue" type="submit">{{ 'Entrar!' | trans }}</button> &nbsp; &nbsp;
                                        <a class="text-12 ml-10" href="{{ path('forgot_password') }}">
                                            {{ 'He olvidado mi contraseña' | trans }}
                                        </a>
                                    </div>
                                </fieldset>
                            </form>
                        </div><!-- .col-md-6 -->
                        <div class="col-md-6">
                            <div class="register">
                                <p>{{ '¿Eres un nuevo cliente?' | trans }}</p>
                                <a class="btn btn-success" title="{{ 'Regístrate gratis en Clop' | trans }}" href="{{ path('register') }}">{{ 'Regístrate gratis' | trans }}</a>
                            </div>
                        </div><!-- .col-md-6 -->
                    </div>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .col-md-8 -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}