{% set action = app.request.attributes.get('_route') %}
<div class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('frontend_homepage') }}"><img class="img-responsive" src="{{ asset('bundles/frontend/img/clop_logo.png') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right main-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="profile">
                        <a href="{{ path('user_profile') }}">
                           {{"Mi cuenta" | trans}}
                        </a>
                    </li>
                    <li>
                        <a title="{{ 'Cerrar sesión' | trans }}" href="{{ path('logout') }}">
                            {{"Cerrar sesión" | trans}}
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}" class="">{{"Acceder" | trans}}</a></li>
                {% endif  %}
                {#<li><a href="" {% if action == 'contact' %}class="current"{% endif %}>{{"Contacto" | trans}}</a></li>#}
                <li class="shopping-cart">
                    {{ render(controller("FrontendBundle:Cart:cart")) }}
                </li>
            </ul>
        </div>
    </div>
</div>