{% set action = app.request.attributes.get('_route') %}
<div class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('frontend_homepage') }}">Ecommerce LOGO</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right main-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="profile">
                        <a href="">
                            {{"Mi cuenta" | trans}}
                        </a>
                    </li>
                    <li>
                        <a title="{{ 'Cerrar sesión' | trans }}" href="{{ path('logout') }}">
                            {{"Cerrar sesión" | trans}}
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}" class="">{{"Acceder" | trans}}</a></li>
                {% endif  %}
                {#<li><a href="" {% if action == 'contact' %}class="current"{% endif %}>{{"Contacto" | trans}}</a></li>#}
                <li class="shopping-cart">
                    <a class="dropdown-toggle" href="">
                        <span class="badge badge-info cart-items">3</span>
                        <i class="fa fa-shopping-cart"></i>
                    </a>

                    <div class="sub-menu sub-menu-cart dropdown-menu">
                        <div class="sub-menu-cart-items">
                            <span>3 productos <a class="empty-cart" href="" title="{{ 'Vaciar cesta' | trans }}"><i class="fa fa-times-circle"></i></a></span>
                            <span class="pull-right">123€</span>
                        </div>
                        <div class="cart-buttons">
                            <a class="btn btn-success" href="" title="{{ 'Pagar' | trans }}">{{ 'Pagar' | trans }}</a>
                            <a class="btn btn-blue" href="" title="{{ 'Ver cesta' | trans }}">{{ 'Ver cesta' | trans }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>