{% extends "BackendBundle:Layouts:2columns.html.twig" %}

{% block title_section %}
    {{ "Listado de usuarios" | trans }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if users | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th"></i>
            </span>
            <h5>{{ "Listado de usuarios"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Nombre"|trans }}</th>
                    <th>{{ "Apellidos"|trans }}</th>
                    <th>{{ "Email"|trans }}</th>
                    <th>{{ "Acciones"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr {% if user.deletedDate %} style="background-color: #A8A8A8 "{% endif %}>
                        <td><a title="Modificar" href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{ user.name }}</a></td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td class="text-center">
                            {% if user.deletedDate %}
                                {{ "Eliminado"|trans }}
                            {% else %}
                                <a title="Ver detalles" class="btn btn-primary btn-xs" href="{{ path('admin_user_view', { 'id': user.id }) }}"><i class="fa fa-eye"></i>{{ 'Ver' | trans }}</a>
                                <a title="Modificar" class="btn btn-primary btn-xs" href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil"></i>{{ 'Editar' | trans }}</a>
                                <a title="Borrar" class="delete btn btn-danger btn-xs" href="{{ path('admin_user_delete', { 'id': user.id }) }}"><i class="fa fa-trash-o"></i>{{ 'Eliminar' | trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}