{% if item.imageMain %}
<div class="col-md-3">
    <div class="item-box mt30">
        <div class="top">
            {% if item.offer %}
                <div class="ribbon-wrapper-offer"><div class="ribbon-pink">{{ 'Oferta' | trans }}</div></div>
            {% endif %}
            {% set imagePath= item.imageMain.ImageItemBox.getWebFilePath ~ '?' ~ random() %}
            <img class="img-responsive" src="{{ asset(imagePath) }}">
        </div>
        <div class="bottom">
            <div class="item-info text-center">
                <div class="item-title">
                    <a title="{{ item }}" href="{{ path('item_details', {'slug': item.slug}) }}">{{ item.name|length > 40 ? item.name|slice(0, 40) ~ '...' : item.name  }}</a>
                </div>
            </div>

            <div class="item-options text-center">
                <ul class="list-unstyled">
                    <li>
                        <span class="item-price">{% if item.offer %}{{ item.offerPrice }}{% else %}{{ item.price }}{% endif %}</span>
                        <i class="fa fa-euro"></i>
                    </li>
                    <li>
                        {% if item.stock > 0 %}
                            <a class="btn btn-blue add-to-cart" title="{{ 'Añadir al carrito' | trans }}" href="{{ path('add_to_cart', {'slug':item.slug}) }}"><i class="fa fa-shopping-cart"></i>{{ 'Añadir' | trans }}</a>
                        {% else %}
                            <a class="btn btn-disabled" title="{{ 'Agotado' | trans }}" href="">{{ 'Agotado' | trans }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}