{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Mis pedidos"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}user page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="intro">
        <div class="intro-wrap">
            <h2>{{ 'Mi Pedidos' | trans }}</h2>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                {% include 'UserBundle:Commons:user-sidenav.html.twig' %}
            </div>

            <div class="col-md-12">
                {% include 'FrontendBundle:Commons:flashes.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    {% if orders | length > 0 %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{ 'Identificador' | trans }}</th>
                                    <th>{{ 'Dirección de envío' | trans }}</th>
                                    <th>{{ 'Estado' | trans}} </th>
                                    <th>{{ 'Fecha del pedido' | trans}} </th>
                                    <th>{{ 'Total' | trans }}</th>
                                    <th>{{ 'Opciones' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.address.name }}</td>
                                        <td>{{ order.status }}</td>
                                        <td>{{ order.date | format('m-d-Y') }}</td>
                                        <td>{{ order.totalAmount }}</td>
                                        <td>
                                            <a class="btn btn-blue btn-sm" href="{{ path('view_order_details', {'id' : order.id}) }}" title="{{ 'Ver detalles' | trans }}"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <span>{{ 'No has realizado ningún pedido' | trans }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}