{% extends "UserBundle:Layouts:base.html.twig" %}

{% block sectionclass %}manager page{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% include 'UserBundle:Commons:user-sidenav.html.twig' %}
{% endblock %}

{% block sectionTitle %}
    {{ 'Mi cuenta' | trans }}
{% endblock %}

{% block userContent %}
    <h5><a data-toggle="collapse" href="#personal-data"><i class="fa fa-user mr8"></i>{{ 'Datos personales' | trans }}<i class="pull-right fa fa-chevron-down"></i></a></h5>
    <div class="stack-box">
        {% include 'UserBundle:User:personal-data.html.twig' %}
    </div>

    <h5><a data-toggle="collapse" href="#user-addresses"><i class="fa fa-map-marker mr8"></i>{{ 'Direcciones' | trans }}<i class="pull-right fa fa-chevron-down"></i></a></h5>
    <div class="stack-box">
        {% include 'UserBundle:User:user-addresses.html.twig' %}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {{ updateSelectContentDynamically('#p', path('get_cities'), '#c') }}

        {{ ajaxUpdateContent() }}

        {{ resetForm() }}

        {{ ajaxForm('#new-address', '#address-loader') }}

        $(document).ready(function(){
            $('body').delegate('.main-address', 'click', function (event) {
                event.preventDefault();
                var path = $(this).attr('href');
                var wrap = $(this).closest('tr');
                $.post(path, function (response) {
                    if (response.ok) {
                        $('.main').removeClass('main');
                        wrap.addClass('main');
                    }
                });
            });

            $('body').delegate('.delete-address', 'click', function (event) {
                event.preventDefault();
                var path = $(this).attr('href');
                var wrap = $(this).closest('tr');
                $.post(path, function (response) {
                    if (response.ok) {
                        wrap.remove();
                    }
                });
            });
        });
    </script>
{% endblock %}