{% set action = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
<div id="sidebar">
    {#<div id="search">
        <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
    </div>#}
    <ul>
        <li class="{% if action == 'admin_user_index' or action == 'admin_user_edit' or action == 'admin_user_view' %}active open{% endif %}">
            <a href="{{ path('admin_user_index') }}"><i class="fa fa-users"></i> <span>{{ "Usuarios"|trans }}</span></a>
        </li>
        <li class="{% if action == 'admin_item_index' or action == 'admin_item_create' or action == 'admin_item_edit' %}active open{% endif %}">
            <a href="{{ path('admin_item_index') }}"><i class="fa fa-puzzle-piece"></i> <span>{{ "Productos"|trans }}</span></a>
        </li>
        <li class="{% if action == 'admin_category_index' or action == 'admin_category_create' or action == 'admin_category_edit' %}active open{% endif %}">
            <a href="{{ path('admin_category_index') }}"><i class="fa fa-folder-open"></i> <span>{{ "Categorias"|trans }}</span></a>
        </li>
        <li class="{% if action == 'admin_order_index' or action == 'admin_order_view' %}active open{% endif %}">
            <a href="{{ path('admin_order_index') }}"><i class="fa fa-truck"></i> <span>{{ "Pedidos"|trans }}</span></a>
        </li>
    </ul>
</div>
