{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Recuperación de contraseña"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h2 class="line-title">{{ 'Recuperar contraseña' | trans }}</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="small-box">
                    <p class="mb20">
                        {{ 'Recibirás un email con la información necesaria para reestablecer tu contraseña.' | trans }}<br>
                        {{ 'No olvides mirar en tu carpeta de SPAM' | trans }}
                    </p>
                    <form id="forgot-password" action="{{ path('forgot_password') }}" role="form" method="post" novalidate="novalidate">
                        <div class="form-group">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'autocomplete' : 'off'}}) }}
                        </div>

                        {{ form_rest(form)}}
                        <div class="form-group">
                            <button id="register" type="submit" class="btn btn-blue btn-large btn-block">{{ "Enviar email" | trans }}</button>
                            <img style="display:none;" class="ml15 loader pull-left" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
                        </div><!-- .form-group -->
                    </form>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .col-md-4 -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}