{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ item }} | {{ "Clop Sevilla"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/jquery.bxslider.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ render(controller("FrontendBundle:Frontend:categoryNav")) }}
{% endblock %}

{% block content %}
    <div class="line-block">
        <h2 class="line-title">{{ item }}</h2>
    </div>
    <div class="item-details">
        <div class="row">
            <div class="col-md-7">
                {% if item.offer %}
                    <div class="ribbon-wrapper-offer t-3"><div class="ribbon-pink">{{ 'Oferta' | trans }}</div></div>
                {% endif %}
                <div class="carousel">
                    <ul class="bxslider">
                        {% for img in item.images %}
                            {% set path = img.ImageItemCarousel.getWebFilePath ~ '?' ~ random() %}
                            <li><img src="{{ asset(path) }}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <p class="item-description">
                    {{ item.description | capitalize }}
                </p>

                <div class="item-cart-options">
                    <div class="item-stock">
                        <div class="stock">
                            {{ drawStockBar(item.stockLevel) }}
                        </div>
                        <span>{% if item.stock == 0 %}{{ 'Sin stock' | trans }}{% else %}{{ 'En stock' | trans }}{% endif %}</span>
                    </div>
                    <div class="item-price">
                        {% if item.offer %}
                            <span class="line-throught">{{ item.price }}</span>
                            <span class="offer">{{ item.offerPrice }} <i class="fa fa-euro"></i></span>
                        {% else %}
                            {{ item.price }} <i class="fa fa-euro"></i>
                        {% endif %}
                    </div>
                    {% if item.stock > 0 %}
                    <span>{{ 'Cantidad' | trans }}:</span>
                    <input type="number" id="cart-quantity" name="quantity" value="1" min="1">
                    <a class="btn btn-blue add-to-cart-quantity" href="{{ path('add_to_cart', {'slug':item.slug}) }}" title="{{ 'Añadir al carrito' | trans }}">
                        <i class="fa fa-shopping-cart"></i>
                        {{ 'Comprar' | trans }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div><!-- .row -->
    </div>
    {% if relatedItems | length > 0 %}
    <div class="line-block">
        <h2 class="line-title">{{ 'Productos relacionados' | trans }}</h2>
    </div>

    <div class="related-items">
        {% for thumb in relatedItems %}
        <div class="item-thumbnail">
            <a title="{{ thumb }}" href="{{ path('item_details', {'slug': thumb.slug}) }}">
                <div class="thumbnail-img">
                    <img src="{{ asset(thumb.imageMain.ImageItemCarouselThumbnail.getWebFilePath ~ '?' ~ random()) }}">
                </div>
                <div class="thumb-info">
                    <span>{{ thumb.name|length > 30 ? thumb.name|slice(0, 30) ~ '...' : thumb.name  }}</span><br>
                    <span class="price">{{ thumb.price }} <i class="fa fa-euro"></i></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/jquery.bxslider.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.bxslider').bxSlider({
            {% if item.images | length > 1 %}
                imagesPager: [{% for thumb in item.images %} '{{ asset(thumb.ImageItemCarouselThumbnail.getWebFilePath) }}' {% if loop.last %}{% else %},{% endif %}{% endfor %}],
            {% else %}
                pager: false,
            {% endif %}
                controls: false,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}